@import './variables';

// Flexbox mixins
@mixin flex($direction: row, $gap: null) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin flex-layout($justify: center, $align: center, $direction: row, $gap: null) {
  @include flex($direction, $gap);

  align-items: $align;
  justify-content: $justify;
}

// Typography mixins
@mixin text-style($size, $line-height, $weight) {
  font-family: $base-font-family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}
