// Base typography
$base-font-size: 16px;
$base-line-height: 24px;
$base-font-family: 'Inter', sans-serif;

// Font Sizes for Body Text
$font-size-body-xl: 20px;
$font-size-body-s: 14px;
$font-size-body-xs: 12px;

// Line Heights for Body Text
$line-height-body-xl: 30px;
$line-height-body-s: 20px;
$line-height-body-xs: 18px;

// Font Sizes for Headings
$font-size-heading-xxs: 15px;

// Line Heights for Headings
$line-height-heading-xxs: 20px;

// Font Weights
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Colors
$color-bg-white: #fff;
$color-bg-blue-default: #3579f5;
$color-bg-blue-badge: #2364db;
$color-text-white: #fff;
$color-text-blue: #4777ed;
$color-border-white-default: #fff;
$color-border-white-50: rgb(255 255 255 / 50%);
