@import './mixins';
@import './variables';
@import './typography';
@import './checklist';
@import 'node_modules/normalize-scss/sass/normalize';

@include normalize;

* {
  box-sizing: border-box;
}

body {
  @include flex(column);

  height: 100dvh;
}

.main {
  @include flex-layout;

  flex: 1;
}

.button-primary {
  @include button-primary;
}
